# Python
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
.eggs/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Environment
.env
.venv/
venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# Spark
metastore_db/
spark-warehouse/
derby.log

# OS
.DS_Store
Thumbs.db
